footer
{
  background: $navy;
  color: white;
  padding: 35px 25px 70px 25px;
  text-align: center;
  
  & > div
  {
    max-width: 990px;
    margin: 0 auto;
  }
  
  h2, h3, h4, a
  {
    color: white;
  }
  .menu--social
  {
    font-size: 0.875em;
    font-weight: 500;
    line-height: 26px;
    display: inline-block;
    margin-top: 30px;
    
    ul
    {
      line-height: inherit;
    }
  }
  .block-search
  {
    display: inline-block;
    font-size: 0.875em;
    font-weight: 500;
    line-height: 26px;
    margin-top: 30px;
  }
}
.region-footer
{
  display: inline;
  
  & > div
  {
    display: inline;
    
    & > div
    {
      display: inline;
    }
  }
}

.block-stay-connected
{
  text-align: left;
  
  &:after
  {
    content: "";
    display: block;
    clear: both;
  }
  .block-content
  {
    width: 48%;
    float: left;
    max-width: 400px;
    
    @include maxwidth(760px)
    {
      width: auto;
      float: none;
      margin: 0 auto 25px auto;
    }
  }
  form
  {
    width: 48%;
    float: right;
    max-width: 400px;
    
    @include maxwidth(760px)
    {
      width: auto;
      float: none;
      margin: 0 auto;
    }
    
    .form-item-email
    {
      background: white;
      border-radius: 100px;
      height: 40px;
      padding: 0 0 0 15px;
      
      label
      {
        color: $navy;
        float: left;
        height: 40px;
        line-height: 40px;
        font-size: 0.875em;
        font-weight: 500;
        width: 86px;
        padding-right: 12px;
        text-align: center;
        
        &:after
        {
          content: ":";
        }
      }
      input
      {
        border: 0;
        color: $navy;
        float: left;
        height: 40px;
        line-height: 40px;
        width: calc(100% - 98px);
        background: transparent;
        padding: 0 8px;
        box-sizing: border-box;
      }
      label.error
      {
        color: white;
        height: auto;
        line-height: normal;
        width: auto;
        padding-right: 0;
        text-align: left;
        margin-bottom: 1em;
        clear: left;
        
        &:after
        {
          display: none;
        }
      }
    }
    .button
    {
      margin-top: 30px;
      color: $purple;
      background-color: white;
      background-image: url(../img/arrow-right-purple.svg);
      float: right;
      
      @include maxwidth(760px)
      {
        display: block;
        float: none;
        margin: 1em auto 0 auto !important;
      }
    }
  }
}
html[lang=fr] .block-stay-connected
{
  form
  {
    .form-item-email
    {
      label
      {
        font-size: 0.8em;
        padding-right: 0;
        width: 98px;
      }
    }
  }
}

.menu--footer
{
  display: inline-block;
  margin-top: 30px;
  
  ul
  {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li
  {
    display: inline-block;
    margin: 0 12px;
  }
  a
  {
    text-decoration: none;
    font-weight: 500;
    font-size: 0.875em;
    
    &:hover
    {
      text-decoration: underline;
    }
  }
}
.footerinfo
{
  font-weight: 500;
  font-size: 0.875em;
  display: inline-block;
  margin-top: 30px;
  
  .copyright, .site-by-cci
  {
    display: inline-block;
    margin: 0 12px;
  }
}

.block--back-to-top
{
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99999;
  
  .back-to-top
  {
    background-color: $navy;
    background-image: url(../img/arrow-up-white.svg);
    background-position: 90% center;
    width: auto;
    padding: 10px 36px 10px 24px;
    box-shadow: 0 0 3px rgba(0,0,0,0.25);
  }
}
