.view-header-images
{
  position: relative;
  
  .views-row
  {
    display: none;
  }
  .slick-slide
  {
    display: block;
  }
  img
  {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .slick-dots
  {
    text-align: center;
    margin-top: 1.5em;
    
    li
    {
      display: inline-block;
      margin: 0 6px;
    }
    button
    {
      font-size: 0;
      padding: 0;
      background: $purple;
      display: inline-block;
      width: 15px;
      height: 15px;
      border-radius: 8px;
      vertical-align: top;
    }
    .slick-active button
    {
      background-color: $navy;
    }
    .dots-pause button
    {
      background-image: url(../img/pause.svg);
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
}
