main
{
  padding: 50px 25px;
  
  & > div
  {
    max-width: 1060px;
    margin: 0 auto;
  }
  &:after
  {
    content: "";
    display: block;
    clear: both;
  }
  img
  {
    max-width: 100%;
    height: auto !important;
  }
  ul, ol
  {
    margin: 0 0 1em 25px;
  }
  li
  {
    margin-bottom: 0.4em;
  }
  iframe
  {
    max-width: 100%;
  }
  .align-left
  {
    margin-right: 20px;
  }
  .align-right
  {
    margin-left: 20px;
  }
}

main.with-sidebar
{
  .layout-content
  {
    float: left;
    width: 65%;
    margin-right: 3%;
  }
  .layout-sidebar
  {
    float: left;
    width: 32%;
  }
  @include maxwidth(860px)
  {
    .layout-content
    {
      float: none;
      width: auto;
      margin-right: 0;
    }
    .layout-sidebar
    {
      float: none;
      width: auto;
      margin-top: 25px;
      clear: both;
    }
  }
}

.messages
{
  margin-bottom: 1.5em;
}

.region-content
{
  word-wrap: break-word;
}
