header
{
  position: relative;
}
.region-navigation
{
  padding: 0 25px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  position: relative;
  z-index: 1;
  
  & > div
  {
    max-width: 1200px;
    margin: 0 auto;
  }
  &:after
  {
    content: "";
    display: block;
    clear: both;
  }
}

.menu--main
{
  @include maxwidth(1080px)
  {
    display: none;
  }
  ul
  {
    margin: 0;
    padding: 0;
    position: relative;
    
    ul
    {
      visibility: hidden;
      position: absolute;
      left: 0;
      top: 100%;
      width: 225px;
      padding: 12px 30px;
      background: white;
      box-shadow: 0 2px 6px rgba(0,0,0,0.2);
      z-index: 1;
      
      a
      {
        padding: 6px 0;
        
        &:hover
        {
          text-decoration: underline;
        }
      }
      li
      {
        line-height: normal;
        height: auto;
        float: none;
      }
    }
  }
  li
  {
    display: block;
    float: left;
    height: 108px;
    line-height: 110px;
    position: relative;
  }
  a
  {
    display: inline-block;
    vertical-align: middle;
    padding: 10px 16px;
    color: $navy;
    text-decoration: none;
    line-height: normal;
    font-weight: 500;
  }
  .menu-item--expanded > a
  {
    &:after
    {
      content: "";
      display: inline-block;
      height: 11px;
      width: 12px;
      background: url(../img/arrow-down-navy.svg) no-repeat center center;
      margin-left: 10px;
      transition: all 0.2s;
    }
  }
  .open
  {
    a:after
    {
      -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
      transform: rotate(-180deg);
    }
    ul
    {
      visibility: visible;
    }
  }
}

.block-system-branding-block
{
  float: right;
  
  .site-logo
  {
    display: block;
    height: 108px;
    line-height: 108px;
    
    img
    {
      vertical-align: middle;
    }
    
    @include maxwidth(1080px)
    {
      height: 50px;
      line-height: 50px;
      margin: 6px 0;
      
      img
      {
        height: 37px;
        width: auto;
      }
    }
  }
}

.block-menu-button
{
  display: none;
  margin: 6px 0;
  
  @include maxwidth(1080px)
  {
    display: block;
    float: left;
  }
  
  .menu-button
  {
    display: block;
    text-decoration: none;
    font-weight: 500;
    padding-left: 30px;
    height: 50px;
    line-height: 50px;
    background: url(../img/icon-menu-navy.svg) no-repeat left center;
  }
}
body
{
  @include maxwidth(1080px)
  {
    .menu--main,
    .region-top .menu--social,
    .region-top .block-search
    {
      display: none;
    }
    &.menu-open
    {
      .menu--main,
      .region-top .menu--social,
      .region-top .block-search
      {
        display: block;
      }
    }
    .menu--top
    {
      float: left;
      margin-left: 0;
      
      li
      {
        margin-right: 0;
        
        &:first-child
        {
          margin-left: 0;
        }
        &:last-child
        {
          margin: 0;
        }
      }
      .contact-us
      {
        display: none;
      }
      .member-login
      {
        padding: 0;
        background: none;
      }
    }
    .menu--main
    {
      clear: both;
      margin-left: -25px;
      margin-right: -25px;
      background: $navy;
      padding-top: 60px;
      padding-bottom: 80px;
      
      li
      {
        float: none;
        height: auto;
        line-height: normal;
      }
      ul ul
      {
        position: static;
        display: none;
        width: auto;
        background: none;
        box-shadow: none;
        visibility: visible;
        padding: 0;
        
        a
        {
          padding: 10px 25px 10px 50px;
          max-width: none;
          font-size: 0.875em;
        }
      }
      .open ul
      {
        display: block;
      }
      a
      {
        color: white;
        display: block;
        padding: 10px 25px;
        max-width: 200px;
      }
      .menu-item--expanded > a:after
      {
        background-image: url(../img/arrow-down-white.svg);
        float: right;
      }
    }
    .region-top .block-search
    {
      position: absolute;
      top: 125px;
      left: 25px;
      right: 25px;
      z-index: 2;
      
      .form-search
      {
        width: 100%;
        background: transparent;
      }
    }
    .region-top .menu--social
    {
      position: absolute;
      bottom: 25px;
      left: 25px;
      right: 25px;
      z-index: 2;
      
      a
      {
        width: 68px;
      }
    }
  }
}

.block--breadcrumbs
{
  padding: 0 25px;
  font-weight: 500;
  font-size: 0.875em;
  
  & > div
  {
    max-width: 1060px;
    margin: 0 auto;
  }
  .breadcrumb
  {
    padding-top: 20px;
    margin-bottom: -30px;
    
    li:before
    {
      padding: 0 3px;
    }
  }
}
