.view-member-list
{
  .view-map
  {
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
    
    .button
    {
      padding-top: 0;
      padding-bottom: 0;
      height: 32px;
      line-height: 32px;
      width: 175px;
    }
  }
  .view-filters
  {
    display: none;
  }
  .member-filter
  {
    font-size: 0.9375em;
    float: left;
    line-height: 28px;
    
    .label
    {
      font-weight: 500;
      float: left;
      margin-right: 12px;
    }
    ul
    {
      margin: 0;
      list-style: none;
      float: left;
      line-height: 28px;
    }
    li
    {
      float: left;
      margin-right: 15px;
      margin-bottom: 0;
    }
    a
    {
      display: block;
      font-weight: 400;
    }
    .active
    {
      font-weight: bold;
    }
  }
  .view-content
  {
    clear: both;
  }
}

.path-membership .search-api-page-block-form
{
  .form-type-search label:after
  {
    content: " Members:";
  }
  .form-search
  {
    width: 285px;
    
    @include maxwidth(380px)
    {
      width: 77px;
    }
  }
}

.view-search-members
{
  .search-results
  {
    clear: both;
  }
  .view-header
  {
    padding-bottom: 1.5em;
  }
}

.view-member-list,
.view-search-members
{
  .views-row
  {
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    margin-bottom: 35px;
    padding: 35px;
    border-radius: 2px;
    overflow: hidden;
  }
  .views-field-field-organization
  {
    font-weight: 500;
    font-size: 1.4em;
  }
  .views-field-field-website
  {
    float: right;
    
    @include maxwidth(540px)
    {
      display: none;
    }
  }
  .view-empty
  {
    clear: both;
  }
}

.view-featured-members
{
  .views-row
  {
    width: 31%;
    float: left;
    margin-left: 3%;
    box-sizing: border-box;
    
    &:nth-child(3n+1)
    {
      margin-left: 0;
      clear: left;
    }
    @include maxwidth(860px)
    {
      width: 48%;
      margin-left: 4%;
      
      &:nth-child(3n+1)
      {
        margin-left: 4%;
        clear: none;
      }
      &:nth-child(2n+1)
      {
        margin-left: 0;
        clear: left;
      }
    }
    @include maxwidth(480px)
    {
      width: auto;
      margin-left: 0;
      float: none;
      
      &:nth-child(3n+1)
      {
        margin-left: 0;
      }
    }
  }
  .views-field-field-website
  {
    float: none;
    margin-top: 1em;
  }
}
.view-member-list.has-member-filter .view-featured-members
{
  display: none;
}
