.view-news-articles
{
  .views-row
  {
    padding: 35px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    margin-bottom: 35px;
    background: white;
    border-radius: 2px;
    
    &:last-child
    {
      margin-bottom: 0;
    }
  }
  .node-read-more
  {
    margin-top: 1em;
  }
}
