@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,600,600i');

body
{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: $navy;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
