input,
textarea,
button
{
  font-family: inherit;
  font-size: inherit;
}

button,
.button,
input[type=button],
input[type=submit]
{
  display: inline-block;
  position: relative;
  border: 0;
  color: white;
  background-color: $purple;
  background-image: url(../img/arrow-right-white.svg);
  background-repeat: no-repeat;
  background-position: 92% center;
  width: 200px;
  max-width: 100%;
  text-align: center;
  font-weight: 600;
  border-radius: 100px;
  text-decoration: none;
  padding: 10px 24px 10px 12px;
  margin-right: 20px;
  font-size: 14px;
  cursor: pointer;
  box-sizing: border-box;
  -webkit-appearance: none;
  appearance: none;
  
  &:last-child
  {
    margin-right: 0;
  }
}

input[type=text],
input[type=email],
input[type=tel],
input[type=password],
textarea
{
  background: white;
  color: $navy;
  border: 1px solid $navy;
  padding: 0 12px;
  width: 100%;
  height: 42px;
  line-height: 40px;
  border-radius: 21px;
  box-sizing: border-box;
  -webkit-appearance: none;
  appearance: none;
}

textarea
{
  line-height: normal;
  height: 6em;
  padding: 10px 15px;
}

select
{
  width: 100%;
  box-sizing: border-box;
}

label
{
  display: block;
  margin-bottom: 0.25em;
}

.form-item
{
  margin-bottom: 1.5em;
}
.form-composite
{
  margin-left: 0;
  margin-right: 0;
  
  & > legend
  {
    font-weight: inherit;
  }
}